body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
}

.container {
    text-align: left;
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    width: 270px;
}

h1 {
    color: #333;
}

form {
    margin: 20px 0;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    margin-bottom: 15px;
    padding: 8px;
    width: 100%;
    max-width: 300px;
    box-sizing: border-box;
}

button {
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

#login-message,
#signup-message {
    color: red;
    margin-bottom: 20px;
}
